/* Estilo para el contenedor principal del encabezado */
.headerPrincipal .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Estilo para el elemento de navegación del encabezado */
.headerPrincipal-nav {
    display: flex;
}

/* Estilo para el contenedor principal del pie de página de patrocinadores */
.rodapePrincipal-patrocinadores .container {
    display: flex;
    justify-content: space-between;
}

/* Estilo para la lista de patrocinadores del pie de página */
.rodapePrincipal-patrocinadores-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    margin-right: 5%;
}

/* Estilo para el formulario de contacto del pie de página */
.rodapePrincipal-contatoForm {
    width: 25%;
}

/* Estilo para el fieldset del formulario de contacto del pie de página */
.rodapePrincipal-contatoForm-fieldset {
    display: flex;
}

/* Estilo para la lista de navegación del mapa del pie de página */
.rodapePrincipal-navMap-list > ul {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 0;
    margin: 0;
    list-style: none;
}
.rodapePrincipal-navMap-list > ul > li {
    min-width: 200px;
    flex: 1 1 200px;
}

/* Estilo para el contenedor principal de los cursos */
.contenidoPrincipal-cursos {
    display: flex;
    flex-wrap: wrap;
}

/* Estilo para los enlaces de los cursos */
.contenidoPrincipal-cursos-link {
    display: flex;
    width: 23%;
}

/* Estilo para el contenedor principal del video de presentación */
.videoSobre .container {
    display: flex;
}

/* Estilos responsivos para la versión móvil (ancho de pantalla <= 768px) */
@media (max-width: 768px) {

    .headerPrincipal .container {
        flex-direction: column;
    }

    .headerPrincipal-nav {
        flex-direction: column;
    }

    .contenidoPrincipal-cursos {
        flex-direction: column;
    }

    .contenidoPrincipal-cursos-link {
        width: 100%;
    }

    .rodapePrincipal-navMap-list > ul {
        flex-direction: column;
        gap: 16px;
    }

    .rodapePrincipal-patrocinadores .container {
        flex-direction: column;
    }

    .rodapePrincipal-contatoForm {
        width: 100%;
    }

    .rodapePrincipal-patrocinadores-list {
        align-items: center;
        width: 100%;
        margin: 0;
    }

    .rodapePrincipal-contatoForm-fieldset {
        justify-content: center;
    }

    .headerPrincipal-nav-link-app {
        order: -1;
    }

    .videoSobre .container {
        flex-direction: column;
    }
}